/* ************************************** start of styles for Products *********************************** */
#cart-icon{
    position: relative;
}

#cart-counter{
background-color: red;
position: absolute;
    right: 14%; 
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
}

#home-word{
color: #7D8184;
margin-left: 15px;
}
 
#specifers_containter{
    margin: 10px;
    border: #6d1919 100px;
    height: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  
}

.item_specifers{
  display: flex;
  
}

.item_specifers > li {
    margin-right: 20rem;
}  
 

#white-buttons-container{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: 20px;
}

.left{
    display: flex;
    gap: 10px;
    margin-left: 50px;
}

.right{
   margin-right: 50px;
}

.btn-white{
    background-color: white; 
    width: 180px;
    height: 50px;
    border-radius: 5px;
    border-width: 1px;
} 
  

.btn-white:hover{
    background-color: #e8ebee;
}

.coupon-input{
    margin-left: 50px;
    margin-top: 10px;
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
}

#coupon{
    margin-top: 50px;
}

.cart-container {
    display: flex;
    justify-content: flex-end; 
     padding: 10px; 
     margin-top: 20px;
}

.cart-total {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 400px;
     padding: 20px;
    box-sizing: border-box;
     margin-top: 10px;
}

.cart-total span {
    float: right;
}

.cart-total h3, .cart-total h5 {
     margin: 10px 0; 
} 

.h3, h5 {
    
    border-bottom:1px solid black;
}

.cart-total button {
   text-align: center;
   width: 200px;
} 


.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}


.item-spacing {
    flex: 1; 
    text-align: center; 
    padding: 0; 
    max-width: 25%;
    
}

.item-spacing img {
    max-width: 100%; 
    height: auto;
}

.item-spacing p {
    margin: 0; 
}

.item-spacing input {
    width: 50px; 
    column-span: 2;
}


input[type="number"]{
    width: 80px; 
    padding: 8px; 
    border: 1px solid #151313; 
    border-radius: 5px; 
    box-sizing: border-box; 
    font-size: 16px; 
    outline: none; 
    
}

.remove-item {
    margin-top: 1.5rem;
    padding: 0.7rem 1.5rem;
    width: fit-content;
    background-color: #f84f4f;
    border: 0;
    font-weight: bold;
    color: white;
    cursor: pointer;
}