/* *************************************** Start Global Style ********************************************* */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family:"Quicksand", sans-serif;
    font-size: 16px;
}

:root{
    --primary-color:#ffffff;
    --secondary-color:#DB4444;
    --background-color:#F5F5F5;
    --break-color:#00FF66;

    --secondary-color-hover:#E07575;

    --text-color-black:#000000;
    --text-color-grey:#7D8184;
    --text-color-grey-light:#fafafa;

    --black:#000000;
    --grey:#363738;
    --white:#ffffff;
}

a{
    text-decoration: none;

}

li{
    list-style: none;
}

/* Responsive Headers */
h1,
h2,
h3,
h4,
h5,h6{
    padding: 0;
    margin: 0.5rem 0;
}

h1 {
    font-size: clamp(1.5rem, 5vw, 2rem);
    font-weight: bold;
}

h2 {
    font-size: clamp(1.25rem, 4vw, 1.75rem);
    font-weight: bold;
}

h3 {
    font-size: clamp(1.125rem, 3.5vw, 1.5rem);
    font-weight: 600;
}

h4 {
    font-size: clamp(1rem, 3vw, 1.25rem);
    font-weight: 500;
}

h5 {
    font-size: clamp(0.875rem, 2.5vw, 1rem);
    font-weight: 500;
}

h6 {
    font-size: clamp(0.75rem, 2vw, 0.875rem);
    font-weight: 400;
}

.label {
    font-size: clamp(0.75rem, 2vw, 0.875rem);
    font-weight: 500;
    color: var(--text-color-grey-light);
}

p{
    font-size: clamp(0.75rem, 2vw, 1rem);
}

.btn {
    font-size: clamp(0.875rem, 2.5vw, 1rem);
    font-weight: 500;
}

/* resuable css */
.container{
    max-width: 1170px;
    padding-top: clamp(0.25rem, 2vw, 0.5rem);
    padding-inline: clamp(0.5rem, 2vw, 0.1rem);
    margin: 0 auto;
}

.section-headers {
    text-transform: capitalize;
    color: var(--secondary-color);
    padding: 0.5rem 1.5rem;
    border-left: 19px solid var(--secondary-color);
    height: fit-content;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.section-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps > button{
    border: none;
    border-radius: 50%;
    background-color: var(--text-color-grey-light);
    padding: 0.5rem 0.65rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.steps > button:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    scale: (1.1);
}

.btn-orange{
    color: var(--white);
    background-color: var(--secondary-color);
    padding: 0.75rem 2rem;
    border: none;
}

.btn-orange:hover{
    background-color: var(--secondary-color-hover);
}

.stars-filled{
    color:gold;
}

.stars{
    color: var(--text-color-grey);
}
/* *************************************** End Global Style *********************************************** */

/* *************************************** Start Header Style ********************************************* */
header{
    border-bottom: 3px solid var(--background-color);
}
/* Ads */
#ads{
    text-align: center;
    background-color: var(--black);
    padding: 0.25rem 0;
}

#ads-span{
    font-weight: 800;
    text-decoration: underline;
}

/* Nav */
#logo{
    padding: 0.25rem;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    width: fit-content;
}

#logo span{
    color: var(--secondary-color);
    font-weight: 700;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-list{
    display: flex;
    gap: 1rem;
}

.nav-link a{
    color: var(--text-color-black);
    font-weight: 500;
}

#nav-list .nav-link i{
    display: none;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

#nav-list .nav-link a:hover{
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    font-weight: 800;
    transform: scale(1.2);
    transition: all 0.3s linear;
}

#header-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

#search-div{
    background-color: var(--background-color);
    border-radius: 5px;
    padding-right: 0.5rem;
    cursor: pointer;
}

#search{
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    width: 30vh;
    max-width: 100%;
    background-color: transparent;
}
form button[type=submit]{
    border: none;
    background-color: transparent;
}
/* start user icon style */
.user-icon-container {
    padding: 0.7rem 0.85rem;
}

.user-icon-container-active {
    padding: 0.7rem 0.85rem;
    background-color: var(--secondary-color);
    border-radius: 50%;
    color: var(--primary-color);
}

.user-options {
    position: absolute;
    display: none;
    color: white;
    background-color: black;
    padding: 0;
    margin-top: 1rem;
    margin-left: -1.5rem;
}

.show-user-options {
    display: block;
}

.user-options>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-options li {
    padding: 0.3rem 1.5rem;
}

.user-options li:hover {
    background-color: var(--text-color-grey);
    cursor: pointer;
}

.user-options li>a {
    color: inherit;
    text-decoration: inherit;
}
/* end user icon style */
/* *************************************** End Header Style ********************************************* */

/* *************************************** Start Sale Style ******************************************* */
.hover-icon {
    visibility: hidden;
    position: absolute;
    top: 15%;
    left: -3%;
    color: var(--text-color-black);
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    transition: all 0.75s ease-in;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.foved-icon{
    visibility: visible;
    left:2%;
    color: var(--secondary-color); 
}
.foved-product{
    color: var(--secondary-color) !important;
}

.card:hover .hover-icon {
    visibility: visible;
    left: 2%;
}

/* Sale Div Styles */
#sale,
#sec-sale{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
}

/* Card Styles */
.card {
    position: relative;
    padding: 0.5rem;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    height: 250px;
    border: 1.5px solid var(--text-color-grey);
    background-color: var(--background-color);
}

/* Sale Span Styles */
.sale {
    padding: 0.25rem;
    position: absolute;
    top: 3%;
    left: 0;
    background: var(--secondary-color);
    color: var(--white);
    font-size: 0.75rem;
}

/* Images Container Styles */
.imagesi-div {
    display: flex;
    justify-content: space-between;
}

#main-image {
    width: 65%;
    height: 140px;
}

.images {
    width: 33%;
}

.images img {
    width: 95%;
    height: 44px;
    border: 1px solid var(--text-color-grey);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* Card Content Styles */
.title-card {
    text-transform: capitalize;
}

/* Rating Container Styles */
#stars-div {
    margin: 0.5rem 0;
}

/* Price Div Styles */
.price-div {
    display: inline-block;
    width: fit-content;
}

.sale-price {
    padding: 0.25rem;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    font-size: 0.75rem;
}

.price {
    padding: 0.25rem;
    color: var(--text-color-grey);
    font-size: 0.75rem;
    text-decoration: line-through;
}

/* Cart Button Styles */
.cart-btn {
    position: absolute;
    bottom: 2%;
    right: 3%;
    padding: 0.5rem 1.15rem;
}

/* *************************************** End Sale Style ********************************************* */

/* *************************************** Start Footer Style ******************************************* */
footer{
    background-color: var(--black);
    color: var(--white);
    padding: 0.25rem 0;
    overflow-x: hidden;
}

footer a{
    color: var(--white);
}

#footer-content{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin: 1rem auto;
    flex-wrap: wrap;
}

#footer-content > div{
    max-width: 20%;
}

#footer-content > div ul{
    padding: 0;
}

#footer-content > div ul li{
    margin-bottom: 0.75rem;
}

#copy-right{
    text-align: center;
    color: var(--text-color-grey);
}

#social-links{
    display: flex;
    gap: 1rem;
}
/* *************************************** End Footer Style ********************************************* */

/* *************************************** Start Responsive Style *************************************** */
@media (max-width: 768px) {
    #nav-list{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--background-color);
        padding: 1rem;
        justify-content: space-around;
        width: 75%;
        height: 60px;
        margin: 0 auto;
        border-radius: 5px;
        z-index: 1000;
    }

    #nav-list .nav-link i{
        display: block;
    }

    .nav-link a span{
        display: none;
    }
    #search{
        width: 20vh;
    }
}
/* *************************************** End Responsive Style ***************************************** */
/*
    *
    *
    *
    *
    *
    *
    *
    *
    *
    *
    *
    *
    *
    *
    *
    *
    *
    *
    *
 */
/* *************************************  Start Home Style  ******************************************* */
/* Start main section */
#main {
    background-color: var(--black);
    max-height: 75vh;
    width: 85vw;
    border-radius: 5px;
    margin: 2rem auto;
    overflow: hidden;
}

.main-div {
    display: flex !important;
    justify-content: space-between;
}

#main-content {
    width: 50%;
    color: var(--white);
    padding: 4rem;
}

#main-img-container {
    width: 50%;
    padding: 1rem 2rem;
}

.main-img {
    background-repeat: no-repeat;
    width: 100%;
    height: 90%;
}

#main-title {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

#main-title i {
    font-size: 3.5rem;
}

#main-title span{
    background-color: var(--white);
    color: var(--black);
    padding: 0.5rem;
    transform: skewY(-2deg);
    border-radius: 70%;
    font-size: 0.75rem;
    font-weight: 600;
}
#main-content h1 {
    margin: 1rem 0;
    font-size: clamp(2rem, 3vw, 4rem) ;
}

#main-btn {
    display: flex;
    align-items: center;
}

#main-btn button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: var(--white);
    border-bottom: 1px solid var(--white);
    padding: 0.25rem;
    margin-right: 0.5rem;
}

.swiper-pagination > span:not([aria-current="true"]) {
    background-color: var(--white);
    opacity: 0.6;
}

.swiper-pagination > span[aria-current="true"] {
    background-color: var(--secondary-color);
    border: 1px solid var(--white);
    border-radius: 50%;
}

#swiper {
    height: 5vh;
}
/* End main section */

/* Start Flash Sale Section */
#flash-sale{
    margin: 4rem auto;
}
.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

#flash-sale-cards{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center;
    margin: 2rem auto;
}
/* End Flash Sale Section */

/* Start categories Section */
#categories-icons{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2rem 0;
}

.category-name{
    text-transform: capitalize;
}

.category-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
    flex-direction: column;
    padding: 0.75rem 1.25rem;
    border: 1px solid var(--black);
    border-radius: 5px;
    background-color: var(--primary-color);
}

.category-icon i{
    font-size: 1.5rem;
}
.category-icon:hover{
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: var(--white);
}
/* End categories Section */

/* Start Best Selling Section */
#best-selling{
    margin: 4rem auto;
}

#best-selling-cards{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    margin: 2rem auto;
}
/* End Best Selling Section */

/* Start Offer Style */

#offer-section {
    display: flex;
}

.offer-container {
    margin: auto;
    width: 75%;
    height: 90%;
    position: relative;
    background-image: url("./../images/offer.jpg");
}

.offer-text {
    color: #b43b3b;
    top:0;
    padding: 2rem;
} 

.offer-text h1 {
    margin: 2rem 0;
    color: #ffffff;
    max-width: 60%;
}

.offer-text h3 {
    color: #19d765;
 }


#buy-now-button {
    margin: 1rem 0;
    width: fit-content;
    padding: 0.5rem 1.5rem;
    background-color: #19d765;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#offer-counter {
    display: flex;
    flex-direction: row;
}
#offer-counter>div {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #000000;
    padding: 0.2rem;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    margin: 0.25rem;
}

.offer-timer-value {
    margin: auto;
}
.offer-timer-unit {
    font-weight: bold;
    margin: auto;
}
/*  End Offer Style */

/* Start Explore Section */
#explore-products{
    margin: 4rem auto;
}

#explore-products-cards{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    margin: 2rem auto;
}
/* End Explore Section */


/* Start Feature Section */
#features{
    margin: 4rem auto;
}

#features-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    padding: 1rem 0;
    color: var(--white);
    margin: 2rem auto;
}

.feature-card{
    position: relative;
}

#feature-contnet-left{
    background:url('./../images/feature1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: end;
}


#feature-contnet-right{
    width: 50%;
    height: 100%;
}

#feature-contnet-right-top{
    background:url('./../images/feature2.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: end;
}

.feature-card-content{
    width: 50%;
    padding: 1rem;
}

.feature-card-content > button{
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: var(--white);
    border-bottom: 1px solid var(--white);
    padding: 0.25rem;
    margin-right: 0.5rem;
}

#feature-contnet-right-bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 50%;
}

#feature-contnet-right-bottom-one,
#feature-contnet-right-bottom-two{
    width: 50%;
    height: 90%;
}

#feature-contnet-right-bottom-one{
    background:url('./../images/feature3.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
}

#feature-contnet-right-bottom-two{
    background:url('./../images/feature4.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
}

/* feature tabs */
#features-tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}

#features-tabs .feature-tab{
    width: 25%;
    padding: 1rem;
    text-align: center;
}

.feature-tab i{
    font-size: 1.5rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: 50%;
    padding: 0.65rem;
    border: 10px solid #bebebe;
    margin-bottom: 0.5rem;
}
/* End Feature Section */
/* *************************************  End Home Style  ******************************************* */
/*
    *
    *
    *
    *
    *
    *
    *
    *
    *
    *
    *
    *
    *
    *
    *
    *
    *
    *
    *
 */

/* *************************************  Start Product Style  ******************************************* */
#product {
    display: flex;
    justify-content: space-between;
    min-height: 600px;
    margin-bottom: 8rem;
    flex-wrap: wrap;
}

#images-product-container {
    width: 62%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    overflow: hidden;
}

#main-product-img {
    width: 500px;
    height: 600px;
}

.product-imgs {
    width: 200px;
    height: 138px;
    border: 1px solid var(--grey);
    border-radius: 5px;
}

#product-content-container {
    width: 38%;
}

#main-product-content::after {
    content: "";
    border-bottom: 1.5px solid var(--grey);
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

.data-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.25rem 0;
}

.product-info{
    display: flex;
    gap: 1.5rem;
}

.product-info> span{
    font-weight: 500;
    font-size: 1rem;
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 0.25rem;
}

.heart-icon {
    font-size: 1.5rem;
    background-color: var(--text-color-grey-light);
    color: var(--grey);
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--grey);
}

.quantity-div {
    display: flex;
    align-items: center;
}

.current-quantity {
    border-radius: 4px;
    padding: 0.60rem 1.5rem;
    border-width: 1px 0 1px 0;
    border-color: var(--black);
    border-style: solid;
}

.increasing-btn {
    color: var(--white);
    padding: 0.75rem 1rem;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.increasing-btn:hover {
    background-color: var(--secondary-color-hover);
}

.decreasing-btn {
    padding: 0.75rem 1rem;
    border: none;
    color: var(--grey);
    border-width: 1px;
    border-color: var(--grey);
    border-style: solid;
    background-color: transparent;
    border-radius: 5px;
}

#delvery-div,
#return-div {
    display: flex;
    align-items: center;
    gap: 2rem;
    border: 1px solid;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

#delvery-div i,
#return-div i{
    font-size: 2rem;
}
/* *************************************  End Product Style  ********************************************* */

/* *************************************  Start Responsive Style  **************************************** */
@media (max-width: 768px) {
    #images-product-container {
        width: 100%;
        flex-direction: column-reverse;
        height: 500px;
    }

    #main-product-img {
        width: 95%;
        height: 350px;
    }

    .product-imgs {
        width: 23%;
        height: auto;
    }

    #product-imgs-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #product-content-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #main-product-content {
        width: 46%;
    }

    #main-product-content::after {
        display: none;
    }
    
    #data-product-content{
        display: inline-block;
        width: 50%;
        padding-left: 0.5rem;
    }
}

@media (max-width: 600px) {
    #product-content-container {
        flex-direction: column;
    }
    #main-product-content,#data-product-content{
        width: 100%;
    }

    #main-product-content::after {
        display: block;
    }

    #features-tabs{
        flex-direction: column;
    }

    #features-tabs .feature-tab{
        width: 75%;
    }

    #main-content {
        padding: 1rem;
        width: 100%;
    }

    #main-img-container {
        display: none;
    }

    .feature-card-content{
        width: 75%;
    }
}

/* *************************************  End Responsive Style  ****************************************** */